<!DOCTYPE html>

<html>
  <head>
    <title> Payment! </title>
  </head>

<body>
  <form action = "/payment/results">
  <label for = "apr"> APR</label>
  <input id ="apr" name ="apr" placeholder ="E.g. 5.42">
  <label for = "no_years"> Number of years </label>
  <input id = "no_years" name ="years" placeholder ="How many years to repay">
  <label for ="prin"> Principal</label>
  <input id = "prin" name ="principal" placeholder ="How much principal?">
  <button>Calculate monthly payment</button>
  </form>

</body>


</html>
