 <!DOCTYPE html>

 <html>
 <head>
    <title> Monthly payments </title>
 </head>
 
 <body>
 <h1> <strong> Payment Results </strong> </h1>

 <p>Apr<br> <%=@aprp%> </p>
 <p>Number of years<br><%=@years%> </p>
 <p>Principal <br> <%=@principal%> </p>
 <p>Payment <br> <%=@payment %>
 <p> <a href ="/payments/new">Calculate another payment</a> </p>
</body>

</html>
