<!DOCTYPE html>

<html>
  <head>
    <title> Random! </title>
  </head>

<body>
<h1> <strong> Random Results </strong> </h1>
<p>Minimum <br> <%=@min%> </p>
<p> Maximum <br> <%=@max%> </p>
<p> Random number <br> <%=@random%> </p>
<p> <a href ="/random/new"> Pick another random number </a> </p>

</body>


</html>
