<!DOCTYPE html>

<html>
  <head>
    <title> Square your number! </title>
  </head>
 

  <body>
    <form action ="/square/results">
    <label for = "sq_number"> Enter a number </label>
    <input id ="sq_number" name = "number" placeholder ="What number do you want to enter?">
    <button> Calculate Square </button>
    </form>

  </body>




</html>
