<!DOCTYPE html>

<html>
  <head>
    <title> Square root your number! </title>
  </head>
 
  <body>
    <h1> <strong> Square root results </strong> </h1>
    <p>Number<br> <%=@sq_root_no%></p>
    <p>Square Root <br> <%=@sq_root_results%></p>
    <a href = "/square_root/new"> Calculate another square root </a>
  </body>

  </html>
