<!DOCTYPE html>

<html>
  <head>
    <title> Square your number! </title>
  </head>
 
  <body>
    <h1> <strong> Square results </strong> </h1>
    <p>Number<br> <%=@sq_no%></p>
    <p>Square <br> <%=@sq_results%></p>
    <a href = "/square/new"> Calculate another square </a>
  </body>

  </html>
